#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID "Wifi_SSID"
#define WIFI_PW "W1F1_P4$$W0rd"

#define VRM_PASSWORD "V4M_P4$$Word"
#define VRM_USERNAME "you@youremail.com"
#define CLIENT_ID "ExampleClientID"


#define MQTT_SERVER "MQTT999.victronenergy.com"
#define MQTT_PORT 8883

#define INSTALLATION_ID = "0123456789AB"
#define MULTIPLUS_ID = "276"
#define BATTERY_ID = "279"


#endif