#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID "Wifi_SSID"
#define WIFI_PW "W1F1_P4$$W0rd"

//your vrm username and password.
#define VRM_PASSWORD "V4M_P4$$Word"
#define VRM_USERNAME "you@youremail.com"

//this should be unique
#define CLIENT_ID "ExampleClientID"

//Get this using the Victron scripts
#define MQTT_SERVER "MQTT999.victronenergy.com"
#define MQTT_PORT 8883

//get this information from MQTT
#define INSTALLATION_ID = "0123456789AB"
#define MULTIPLUS_ID = "276"
#define BATTERY_ID = "279"

//configure these to match your board and wiring
#define I2C_SDA 33  
#define I2C_SCL 35

#endif